
body{
	font-size: 14px;}
.fund{width:1000px;margin-top: 5px;border: 1px solid #DDD;border-radius: 5px;height: 170px;font-size: 14px;}
.fund .left{width:200px;float: left;vertical-align: middle;padding-top: 10px;text-align: left;}
.fund .right{width:800px;float: right;}
.fund .wenzi{float: left;width:200px;line-height:30px;padding-left:10px;border-left:1px solid #ccc;}
.fund .right dl{width: 100%;height: 30px;line-height: 30px;border-bottom: 1px dotted #F1F1F1;}
.fund .right dl dt{float: left;width: 80px;text-align: right;}
.fund .right dl dd{float: left;width: 250px;text-align: left;}
.fund .right dl dd strong{color: red;}

.fund .right .fundbtn{float: left;width: 100%;height: 30px;line-height: 30px;}
.fund .right .fundbtn a{padding:3px 10px;}

.fund_mlist_tab thead th {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    background: url("${ctx}/images/dbg.gif");
}
.fund_mlist_tab tr {
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}
.fund_mlist_tab tbody td {
    height: 35px;
    line-height: 20px;
    background-color: #FFFFFF;
    font-size: 12px;
    /* color: #000; */
}


.bank-logo {
    display: block;
    height: 50px;
    overflow: hidden;
    width: 150px;
    cursor: pointer;
}

.bank-logo-5 {
    background-image: url("../../images/tlzf.jpg");
    background-repeat: no-repeat;
}

.bank-logo-6 {
    background-image: url("../../images/zgyh.png");
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
}

.bank-logo-7 {
    background-image: url("../../images/yjf.gif");
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    margin-left:30px;
}

.bank-logo-8 {
    background-image: url("../../images/pingan.png");
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    margin-left:30px;
}

.bank-logo-3 {
    background-image: url("../../images/jsyh.jpg");
    background-repeat: no-repeat;
}
.newfund .partone{
	height:135px;
	border-bottom:1px solid #f1f1f1;
	padding:30px 0;
	padding-left:30px;
}
.newfund{
	margin-bottom:50px;
}
.newfund .partone .infor_le{
	height:185px;
	width:60%;
	float:left;
}
.newfund .partone .infor_le .infor_img{
	height:104px;
	width:104px;
	position:relative;
	background: url("../images/infor_img.png");
	float:left;
}
.newfund .partone .infor_le .infor_img p{
	height:28px;
	width:104px;
	position:absolute;
	background: #dcdcdc;
	line-height:28px;
	color:#333;
	text-align:center;
	font-size:14px;
	bottom:0;
	left:0;

}
.newfund .partone .infor_le .infor_list{
	float:left;
	margin-left:20px;
}
.newfund .partone .infor_le .infor_list p{
	height:45px;
	line-height:20px;
	font-size:14px;
	color:#333333;
}
.newfund .partone .infor_le .infor_list p a.zjlogin{
	font-size:14px;
	color:#1d74e0;
	text-decoration:underline;
}
.newfund .partone .infor_le .infor_list .mybtn{
	width: 50px;
	height: 23px;
	line-height: 23px;
    color: #fff;
    font-size: 14px;
    background:#539ef8;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    margin-right:20px;
}
.newfund .partone .infor_le .infor_list .mybtn2{
	background: #fa696e;
}
.newfund .partone .infor_le .infor_list .mybtn1{
	width: 65px;
    height: 23px;
    background:#da7e35;
    line-height: 23px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
}
.newfund .partone .infor_rg{
	height:185px;
	width:35%;
	float:right;
}
.newfund .partone .infor_rg .rgzi{
	height:45px;
}
.newfund .partone .infor_rg .rgzi p{
	display:inline-block;
	font-size:14px;
}
.newfund .partone .infor_rg .rgzi p.zi{
	height:30px;
	width:30px;
	text-align:center;
	line-height:30px;
	font-size:20px;
	margin-right:10px;
}
.newfund .partone .infor_rg .rgzi p.zhang{
	border:1px solid #1d74e0;
	color:#1d74e0;
}
.newfund .partone .infor_rg .rgzi p.yu{
	border:1px solid #1ab394;
	color:#1ab394
}
.newfund .partone .infor_rg .rgzi p.dong{
	border:1px solid #ff0000;
	color:#ff0000
}
.newfund .partone .infor_rg .rgzi span{
	color:#ff0000;
	font-weight:bold;
}
.newfund .parttwo{
	height:230px;
	padding:30px 0;
	padding-left:30px;
}
.newfund .parttwo .admin_img{
	height:104px;
	width:104px;
	position:relative;
	background: url("../images/infor_img1.png");
	float:left;
}
.newfund .parttwo .admin_img p{
	height:28px;
	width:104px;
	position:absolute;
	background: #dcdcdc;
	line-height:28px;
	color:#333;
	text-align:center;
	font-size:14px;
	bottom:0;
	left:0;

}
.newfund .parttwo .admin_card{
	width:430px;
	height:230px;
	background: url("../images/admin_img.png");
	float:left;
	margin-left:20px;
	position:relative;
}
.newfund .parttwo .admin_card .zjlogo{
	padding-left: 20px;
    height: 27px;
    line-height: 35px;
    color: #ff3203;
    font-size: 16px;
}
.newfund .parttwo .admin_card .zjeng{
	padding-left:20px;
	height:20px;
	color:#ff3203;
	font-size:12px;
}
.newfund .parttwo .admin_card .zjhello{
	height:120px;
	line-height:120px;
	color:#2d5171;
	font-size:14px;
	text-align:center;
}
.newfund .parttwo .admin_card .zjhello a{
	color:#ff3203;
	font-weight:bold;
}
.newfund .parttwo .admin_card .zjnumber{
	height:120px;
	line-height:120px;
	color:#333;
	font-size:24px;
	letter-spacing:5px;
	text-align:center;
	text-shadow:3px 2px 4px #333;
}
.newfund .parttwo .admin_card .zjlogin{
	height:30px;
	line-height:30px;
	width:130px;
	color:#fff;
	background:#2d5171;
	font-size:12px;
	text-align:center;
	border-radius:5px;
	display:block;
	margin:0 auto;
}
.newfund .parttwo .admin_card .anniu{
	position:absolute;
	right:15px;
	top:10px;
}
.newfund .parttwo .admin_card .anniu a.mybtn{
	width: 54px;
    height: 20px;
    line-height: 20px;
    color: #2d5171;
    font-size: 14px;
    border: 1px solid #2d5171;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}
.newfund .parttwo .admin_card .daima{
	position:absolute;
	right:15px;
	top:10px;
	color:#2d5171;
	font-size:16px;
}
.newfund .parttwo .admin_card .liushui{
	text-align:center;
}
.newfund .parttwo .admin_card .liushui a{
	color:#1d74e0;
	font-size:16px;
	display:inline-block;
	margin-right:30px;
}
.pazhifu{
	width:1200px;
	margin:20px auto;
}
.pazhifu .zfclick{
	height:67px;
	background:#eca16f;
	margin:30px 0;
	position:relative;
}
.pazhifu .zfclick a.return{
    position: absolute;
    right: 25px;
    top: 22px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.pazhifu .tuble{
	color:#fff;
	font-size:16px;
	padding:10px 0 15px 20px;
}
.pazhifu .tuble img{
	vertical-align:middle;
	margin-right:10px;
}
.pazhifu .zfline{
	height: 1px;
    width: 1147px;
    background: #e46713;
    margin: 0 auto;
    opacity: 0.5;
}
.pazhifu .zfsm{
	color: #333;
    padding-left: 22px;
    margin-top: 10px;
}
.pazhifu .zfsm span{
	color:#333;
	font-size:16px;
}
.pazhifu .zfcontent{
	width:1156px;
	background:#fff;
	padding:20px 22px;
	min-height:500px;
}
.pazhifu .zfcontent .partone h2,.pazhifu .zfcontent .partwo h2,.pazhifu .zfcontent .parthree h2{
	color:#333;
	font-size:18px
}
.pazhifu .zfcontent .partone ul{
	padding-left:122px
}
.pazhifu .zfcontent .partone ul li{
	list-style-type: none;
	line-height:30px;
	font-size:14px;
	color:red;
}
.pazhifu .zfcontent .partone ul li:first-child,.pazhifu .zfcontent .partone ul li:last-child{
	color:#333;
}
.pazhifu .zfcontent .partwo,.pazhifu .zfcontent .parthree{
	margin-top:30px;
}
.pazhifu .zfcontent .partwo .infor label{
	width:100px;
	text-align:right;
	display:inline-block;
	color:#333;
	margin-right:20px;
}
.pazhifu .zfcontent .partwo .infor{
	color:#999;
	font-size:14px;
	line-height:30px;
}
div.mform form fieldset div {
	padding: 0.5em 0;
}

div.mform form div {
	padding: 0.5em 0;
}

.sakong {
	height: 10px;
	border-bottom: 1px solid #f0eff0;
}

.safe_card{
	width:430px;
	height:230px;
	background: url("../images/admin_img.png") no-repeat;
	float:left;
	position:relative;
}
.safe_card .zjlogo{
	padding-left: 20px;
	height: 27px;
	line-height: 35px;
	color: #ff3203;
	font-size: 16px;
}
.safe_card .zjeng{
	padding-left:20px;
	height:20px;
	color:#ff3203;
	font-size:12px;
}
.safe_card .zjnumber{
	height:120px;
	line-height:120px;
	color:#333;
	font-size:24px;
	letter-spacing:5px;
	text-align:center;
	text-shadow:3px 2px 4px #333;
}
.elsemo{
	clear:both;
	margin-left:75px;
}
.elsemo a{
	color:#2eaae3;
	font-size:14px;
	margin-left:20px;
	cursor:pointer;
}
.elsemo a:hover{
	color:#2eaae3;
}
.sakong{
	height:10px;
	border-bottom:1px solid #f0eff0;
}
span.error{
	color:#ff0000;
	display:none!important;
}
.jtop20{
	margin-top: 20px;
}

.mbody {
	position: relative;
	height: auto;
	overflow: hidden;
	width: 98%;
	margin: 0;
	padding: 0;
	min-height: 400px;
	height: 100%;
	_height: 400px;
}

.patit {
	height: 38px;
	line-height: 45px;
	border-bottom: 3px solid #1d74e0;
}

.patit h2 {
	width: 60px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	text-align: left;
	color: #000;
	font-weight: bold;
	margin-top: 16px;
	margin-left: 30px;
}

div.mform form fieldset {
	margin: 10px 0;
	padding: 10px;
	border: #DDD 0px solid;
}

div.mform label, div.mform span.label {
	margin-right: 10px;
	padding-top: 3px;
	padding-right: 10px;
	width: 150px;
	display: block;
	float: left;
	text-align: right;
}

.commbtn2 {
	background: #c3214a;
	height: 30px;
	line-height: 30px;
	padding-top: 0;
	padding-bottom: 0;
}
.commbtn2 {
	border-style: solid;
	border-width: 0 1px 1px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	height: auto;
	width: auto;
	margin-bottom: 0;
	padding: 5px 20px;
	text-align: center;
	vertical-align: middle;
}