@charset "utf-8";
/* CSS Document */
body,p{
	font-weight:normal;
	padding:0;
	margin:0;
	font-size:12px;
	}
a{
	text-decoration:none;
	}
ul,li{
	list-style-type:none;
	margin:0;
	padding:0;
	}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
 }
/*.nav_logo{*/
	/*display:none;*/
/*}*/
/*.nav{*/
	/*display:none;*/
/*}*/
/*.nav_btn .map_con_wrap{*/
	/*display:none;*/
	/*}*/
/*.mui-mbar-tabs{*/
	/*display:none;*/
/*}*/
/*.layout-head{*/
	/*display: none;*/
/*}*/
#h_container {
    background-color: #f1f1f1;
	height:auto;
	padding-top: 30px;
	min-width: 1300px;
}
.wid{
	width:1200px;
	margin:0 auto;
	height:auto;
	}
#h_content {
    padding-left: 212px;
    display: block;
	height:auto;
}
#h_menu {
    float: left;
    width: 212px;
    position: relative;
    left: -212px;
	height:auto;
	min-height:540px;
	border:1px solid #e7e7e7;
	background: #fff;
}
#h_main {
	float: right;
	width: 97.9%;
	margin-left: -212px;
	overflow: hidden;
	height: auto;
	min-height: 620px;
	padding-bottom: 60px;
}
#h_menu ul.mainlist{

	}
#h_menu ul.mainlist li.diff{
	height:38px;
	line-height:38px;
	color:#fff;
	background:#0080eb;
}
#h_menu ul.mainlist li{
	color:#333;
	line-height:40px;
	font-size:16px;
	position:relative;
	padding-left:15px;
	}
#h_menu ul.mainlist li:hover{
	cursor:pointer;
	}
#h_menu ul.mainlist li span.icon{
	color:#999;
	font-size:16px;
	margin-right:6px;
	font-weight:normal!important;
	}
#h_menu ul.mainlist li i{
	position:absolute;
	top:0;
	right:10px;
	color:#999;
	font-size:14px;
	cursor:pointer;
	}
#h_menu ul.mainlist li ul{
	display:none;
	}
#h_menu ul.mainlist li ul li{
	color:#666;
	font-size:14px;
	padding-left:30px;
	height: 36px;
	line-height: 36px;
}
#h_menu ul.mainlist li ul li a{
	color:#666;
	display:block;
	font-weight: normal;
	}
#h_menu ul.mainlist li ul li a:hover{
	color:#ff0000;
	}
#h_menu ul.mainlist li ul li a:hover .icon{
	color:#ff0000;
	}
#h_main .main_con{
	padding: 0px 30px 0 30px;
	background: #fff;
	border:1px solid #e7e7e7;
	min-height: 540px;
	}
.main_con .tit{
	height:38px;
	line-height:38px;
	background:#f5f5f5;
	color:#0078bf;
	font-weight:bold;
	font-size:13px;
	padding-left:10px;
	margin-bottom:30px;
	}
.help_nav{
	height:90px;
	background:#0080eb;
}
.help_nav .h_logo{
	width:320px;
}
.help_nav .h_dao{
	width:620px;
}
.help_nav .h_dao ul li{
	width:108px;
	height:90px;
	float:left;
}
.help_nav .h_dao ul li a{
	width:108px;
	height:90px;
	line-height:90px;
	text-align:center;
	color:#fff;
	font-size:14px;
	display:block
}
.help_nav .h_dao ul li a.active{
	background:#0078bf;
}
.h_tit{
	hieght:38px;
	line-height:38px;
	color:#0080eb;
	font-size:16px;
	border-bottom:2px solid #0080eb;
}
.h_step p{
	line-height:30px!important;
	font-size:14px!important;
	color:#666!important;
}
.h_step img{
	margin-bottom:10px;
	max-width: 100%!important;
}
.newer_ban{
    background: #0075cf url(../images/banner-blog.jpg) center center no-repeat;
    height:200px;
}
.newer_ban .help_ser{
	width: 550px;
    margin: 0 auto;
    padding-top: 77px;
}
.newer_ban .help_ser .searchFrame {
    width: 490px;
    height: 46px;
    background: #fff;
    border-radius: 23px;
    padding: 0 30px;
}
.searchAreaWrap {
    width: 440px;
}
.searchAreaWrap .searchInput {
    width: 100%;
    height: 45px;
    border: 0;
    padding: 0;
    outline: 0;
    color: #333;
    font-size: 16px;
    line-height: 45px;
    vertical-align: middle;
    border: 0;
}
.searchIconWrap {
    width: 50px;
    float: right;
    cursor: pointer;
    position: relative;
    right: -23px;
    top: 6px;
}
.searchIconWrap button{
	border:none;
	background:none;
	font-size:30px;
	cursor:pointer;
}
input,button,select,textarea{outline:none;}
.newer_tit{
	color:#333;
	font-size:20px;
	height:30px;
}
.cj_func{
	display: inline-block;
    margin: 10px 78px;
    width: auto;
    vertical-align: middle;
    width: 64px;
    margin-bottom: 0;
    margin-top: -2px;
}
.cj_func a{
	display:inline-block;
}
.cj_func img{
	width:80px;
	height:80px;
	display: block;
	margin: 0 auto;
}
.cj_func .newer_icon{
	width: 65px;
    height: 56px;
    margin: 0 auto;
    background: url(../images/newer_icon.png) no-repeat;
}
.cj_func1 .func{
	background-position:-96px -20px;
}
.cj_func1:hover .func{
	background-position:-95px -103px;
}
.cj_func2 .func{
	background-position:-176px -13px;
}
.cj_func2:hover .func{
	background-position:-176px -98px;
}
.cj_func3 .func{
	background-position:-257px -13px;
}
.cj_func3:hover .func{
	background-position:-257px -94px;
}
.cj_func4 .func{
	background-position:-20px -13px;
}
.cj_func4:hover .func{
	background-position:-20px -100px;
}
.cj_func5 .func{
	background-position:-338px -13px;
}
.cj_func5:hover .func{
	background-position:-340px -92px;
}
.cj_func h2{
	font-size: 16px;
    text-align: center;
    padding-top: 40px;
    font-weight: normal;
    line-height: 1;
    width:96px;
}
.cj_func h2.diff{
	padding-top:20px;
}
.graybg{
	height:138px;
	width:100%;
	background:#f5f5f5;
}
.newer_pd{
	padding:0 30px;
}
.graybg ul{
	padding-top:20px;
	padding-left:120px;
}
.graybg ul li{
	width:220px;
	float:left;
	margin-top:20px;
	margin-left: 78px;
	background:url(../images/li_bg.png) no-repeat ;
    padding-left:25px;
}
.salejia ul li{
	background:url(../images/li_bg_blue.png) no-repeat ;
}
.graybg ul li:hover a{
	color:#ff0000;
}
.salejia ul li:hover a{
	color:#0070d2;
}
.about_tit .a_logo img{
	margin:0 auto;
	display:block;
	width:100px;
}
.about_tit .a_logo span{
	display:block;
	text-align:center;
	font-size: 12px;
	color:#333;
}
.about_tit .a_logo h2{
	font-size:24px;
	text-align:center;
	height:50px;
	line-height: 50px;
	font-weight:normal;
	color:#373d41;
}
.about_tit .a_logo p{
	font-size: 16px;
	color:#373d41;
	text-align: center;

}
.map_bg{
	height:300px;
	background:#f5f5f5;
	padding-top:40px;
}
.map_bg .ab_map{
	position:relative;
}
.map_bg .ab_map .point_area{
	position: absolute;
	top: 80px;
	left: 800px;
	position: absolute;
	width: 110px;
	height: 110px;
	visibility: visible;
	opacity: 1;
}
.map_bg .ab_map .point_area1{
	position: absolute;
	top: 60px;
	left: 700px;
	position: absolute;
	width: 110px;
	height: 110px;
	visibility: visible;
	opacity: 1;
}
.map_bg .ab_map .point_area .point_name{
	position: absolute;
	top: 30px;
	left: 35px;
	color:#333;
	font-size: 12px;
}
.map_bg .ab_map .point_area .point{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	margin: auto;
	-webkit-border-radius: 50%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 50%;
	-moz-background-clip: padding;
	border-radius: 50%;
	background-clip: padding-box;
	background: transparent
}
.map_bg .ab_map .point_area .point_dot{
	z-index: 1;
	background-color: #6ad7e9;
	border: 1px solid rgba(0, 205, 236, .37)
}
.point_area .point_10{
	width:100%;
	height:100%;
}
.point_area .point_10:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	border: 2px solid #00cdec;
	opacity: 0;
	-webkit-animation: ripple 4.5s ease-out 225ms infinite;
	animation: ripple 4.5s ease-out 225ms infinite;
}
.point_area .point_40{
	width:100%;
	height:100%;
}
.point_area .point_40:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	border: 2px solid #00cdec;
	opacity: 0;
	-webkit-animation: ripple 4.5s ease-out .9s infinite;
	animation: ripple 4.5s ease-out .9s infinite
}
.point_area .point_80{
	width:100%;
	height:100%;
}
.point_area .point_80:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	border: 2px solid #00cdec;
	opacity: 0;
	-webkit-animation: ripple 4.5s ease-out 1.8s infinite;
	animation: ripple 4.5s ease-out 1.8s infinite
}
.point_area .point_shadow:after{
	box-shadow: inset 0 0 5em rgba(0, 205, 236, .16);
}
@-webkit-keyframes ripple {
	0% {
		opacity: 0;
		-webkit-transform: scale(.1)
	}

	5% {
		opacity: 1
	}

	to {
		opacity: 0;
		-webkit-transform: scale(1)
	}
}

@keyframes ripple {
	0% {
		opacity: 0;
		-webkit-transform: scale(.1);
		transform: scale(.1)
	}

	5% {
		opacity: 1
	}

	to {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
.blue_bg{
	height:350px;
	background:#0f1931;
	padding-top:40px;
	position: relative;
}
.blue_bg .about_intro{
	position: absolute;
	top: -85px;
	left: 50%;
	width: 816px;
	margin-left: -408px;
	background: url(../images/about_intro_bg.png) no-repeat #fff;
	height: 360px;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 20px 0 rgba(0,0,0,.1);
	box-shadow: 2px 2px 20px 0 rgba(0,0,0,.1);
}
.blue_bg .about_intro .pic {
	position: absolute;
	left: 52px;
	top: -52px;
	width: 250px;
	height: 360px;
	-webkit-box-shadow: 2px 2px 20px 0 rgba(0,0,0,.3);
	box-shadow: 2px 2px 20px 0 rgba(0,0,0,.3);
}
.blue_bg .about_intro .pic img{
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: top;
	-ms-interpolation-mode: bicubic;
}
.blue_bg .about_intro .intro{
	position: absolute;
	top: 40px;
	right: 52px;
	width: 410px;
	line-height: 28px;
}
.blue_bg .about_intro .intro .intro-tit{
	margin-bottom: 50px;
	font-size: 22px;
	color:#333;
}
.blue_bg .about_intro .intro .detial h2{
	font-size: 14px;
	font-weight: 500;
}
.blue_bg .about_intro .intro .detial p{
	font-size: 12px;
}