@charset "utf-8";
/* CSS Document */
body{
	font: 14px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
	font-weight:normal;
	padding:0;
	margin:0;
	}
a{
	text-decoration:none;
	}
ul,li{
	list-style-type:none;
	margin:0;
	padding:0;
	}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
 }
.main_con .search{
	position:relative;
	margin-bottom:20px;
	}
.main_con .alist{
	overflow:visible;
	}
.main_con .alist table{
	table-layout:fixed;
}
.main_con .search .posi{
	position:absolute;
	top:0;
	right:52px;
	}
table {
    border-collapse: collapse;
}
.order-tb {
    width: 100%;
}
.order-tb .tr-bd td {
    padding: 14px 0;
}
.order-tb tbody td {
    border: 1px solid #e5e5e5;
}
.order-tb thead th {
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f5f5f5;
    color: #333;
    font-weight: 400;
    font-size:14px;
}
.order-tb thead th.half{
	width:370px;
	text-align: left;
	padding-left:57px;
	}
.order-tb thead th.state{
	position:relative;
	width:100px;
	border:1px solid #f5f5f5;
	border-bottom:none;
	height:31px;
	z-index:10;
	}
.order-tb thead th.state:hover{
	background:#fff;
	}
.order-tb thead th.state:hover ul{
	display:block;
	}
.order-tb thead th.state ul{
	position:absolute;
	top:30px;
	left:-1px;
	width:102px;
	background:#fff;
	display:none;
	border:1px solid #f5f5f5;
	border-top:none;
	z-index:2;
	}
.order-tb thead th.state ul li{
	text-align:left;
	line-height:26px;
	padding-left:7px;
	cursor:pointer;
	}
.order-tb thead th.state ul li:hover{
	background:#f5f5f5;
	color:#ff0000;
	}
.order-tb .table_tit {
    background: #f5f5f5;
    height: 31px;
    line-height: 31px;
    color: #aaa;
    overflow: hidden;
	position: relative;
}
.order-tb .table_tit .wood{
	position:relative;
	}
.order-tb .table_tit .wood span{
	font-size:14px;
	color:#333;
}
.order-tb .table_tit .wood p{
	font-size:14px;
	display:inline-block;
	color:#333;
}
.order-tb .table_tit .wood p.plus{
	width:255px;
	/* overflow: hidden; */
	margin-left: 15px;
}
.order-tb .table_tit a.delate{
	position:absolute;
	top:5px;
	right:10px;
	}
.order-tb .table_tit .icon_state{
	position: absolute;
	top: 6px;
	right: 10px;
	padding:0px 2px;
	height: 20px;

	text-align: center;
	line-height: 20px;
	color: #fff;
	border-radius: 2px
}
.order-tb .table_tit .icon_state:hover img{
	display: block;
}
.order-tb .table_tit .icon_state img{
	position: absolute;
	right:0;
	top:30px;
	display: none;
	z-index: 999;
}
.order-tb .table_tit .icon_state.state10{
	background:#ff0000;
}
.order-tb .table_tit .icon_state.state20{
	background:#1296db;
}
.order-tb .table_tit .icon_state.state100{
	background:#5fb41b;
}
.order-tb tbody{
	vertical-align: top;
}
.order-tb tbody .infor{
	display: none;
	}
.order-tb tbody .infor:nth-child(3){
	display: table-row!important;
}
.order-tb tbody .infor td{
	padding-top:10px;
}
.order-tb tbody .infor td.do-action{

}
.order-tb tbody .infor td.dosth{
	padding-left:30px;
}
.order-tb tbody .infor td.dosth a{
	display:block;
	height:25px;
	line-height:25px;
	text-align:left;
	font-size:12px;
	}
.order-tb tbody .infor td.dosth p.xsd{
	height:26px;
	line-height: 26px;
}
.order-tb tbody .infor td.intro{
	padding-left:10px;
	}
.order-tb tbody .infor td.intro .tname{
	height:26px;
	line-height:26px;
	}
.order-tb tbody .infor td.intro .tname span.click-show{
	width:20px;
	height:20px;
	border:1px solid #316ccb;
	line-height: 20px;
	display: inline-block;
	text-align: center;
	color:#316ccb!important;
	font-size: 14px;
	margin-right: 10px;
	cursor: pointer;
	opacity: 0;
}
.order-tb tbody .infor:nth-child(3) td.intro .tname span.click-show{
	opacity: 1;
}
.order-tb tbody .infor td.intro span{
	width:157px;
	height:26px;
	line-height:26px;
	color:#333;
	display:inline-block;
	margin-right:10px;
	font-size:14px;
	padding-left:0!important;
	}
.order-tb tbody .infor td.intro span.diff{
	vertical-align:top;
	width:225px;
}
.order-tb tbody .infor td.price{
	padding-left:30px;
}
.order-tb tbody .infor td.price p{
	height:26px;
	line-height:26px;
}
.order-tb tbody .infor td.price a{
	height:26px;
	line-height:26px;
	color:#333;
	display:block;
	font-size:14px;
	position:relative;
}
.order-tb tbody .infor td.price a span{
	position: absolute;
	top:-8px;
	left: 60px;
	width: 170px;
	background: #fffee4;
	padding: 5px;
	border:1px solid #ffd396;
	display: none;
}
.order-tb tbody .infor td.price a:hover span{
	display: block;
}
.order-tb tbody .infor td.done{
	padding-left:35px;
}
.order-tb tbody .infor td.done p.icon{
	font-size:15px;
}
.order-tb tbody .infor td.done p.phone_num{
	height:20px;
	line-height:20px;
	color:#999;
}
.order-tb tbody .infor td.done p font{
	font-size:12px;
	color:#999;
}
.order-tb tbody .infor td.done a.sure{
	height:26px;
	line-height:26px;
	font-size:12px;
	display: block;
}
.order-tb tbody .payfor td{
	padding:10px 0;
}
.order-tb tbody .payfor td:first-child{
	padding-left: 10px;
}
.order-tb tbody tr.hei td{
	padding-top: 20px;
	padding-bottom: 10px;
}
.order-tb tbody tr.hei td.intro .bottom10{
	padding-left: 10px;
}
.order-tb tbody td.le-align{
	padding:10px 0;
	padding-left: 160px;
}
.order-tb tbody td.top-align{
	padding:10px 0;
}
.ord .zi{
	margin-top:-27px;
	position:relative;
}
.ord .zi ul{
	padding-left:8px;
}
.ord .zi ul li{
	float: left;
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size:14px;
	cursor:pointer;
}
.wangyao .xc{
	display: none;
}
.wangyao .display{
	display: block;
	margin-bottom: 30px;
}
.ord .zi ul li.active{
	color:#ff0000;
}
.sear {
    position:absolute;
    top: 7px;
    right:0;
}
.sear .itxt {
    float: left;
    width: 158px;
    height: 23px;
    line-height: 25px;
    border: 1px solid #ccc;
    font-size:12px;
    padding-left:10px;
}
.sear .search-btn{
    width: 52px;
    height: 23px;
    line-height:23px;
    color:#666;
    overflow: hidden;
    border: 1px solid #ddd;
    border-left: 0;
    text-align: center;
    background-color: #f7f7f7;
    float:left;
    background: url(../images/order-icons.png) 11px -54px;
}
.order_cur{
	height:110px;
	width:780px;
	margin:0 auto;
	background:#f8f8f8;
}
.order_cur .cur_le{
	width:180px;
	padding-top: 20px;
}
.order_cur .cur_le p{
	margin-bottom: 30px;
	color: #999;
	font-size: 12px;
	text-align: center;
}
.order_cur .cur_le span{
	color: #71b247;
	font-size: 20px;
	text-align: center;
	display: block;
}
.order_cur .cur_rg{
	width:600px;
	padding-top: 40px;
}
.order_cur .cur_rg .step{
	width:70px;
	text-align:center;
}
.order_cur .cur_rg .step p{
	margin-top: 10px;
}
.order_cur .cur_rg .step_line{
	width: 124px;
	height:9px;
	background: url(../images/proce-icons.png);
	background-position: 0 -38px
}
.order_cur .cur_rg .step_1{
	background-position: 0 -38px
}
.order_cur .cur_rg .step_2{
	background-position: 0 -19px
}
.order_cur .cur_rg i{
	color: #71b247;
	font-size: 30px;
}
.history-tit{
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #f5f5f5;
	color: #333;
	font-weight: 400;
	font-size: 14px;
	border-bottom: 1px solid #e5e5e5;
}
.history-tit p{
	height: 32px;
	line-height: 32px;
}
.price-history td .history-tent:last-child div{
	border:none
}
.price-history td .history-tent:last-child div.le-align{
	border-right: 1px solid #e5e5e5;
}
.history-tent .le-align{
	padding:10px 0;
	padding-left: 160px;
	box-sizing: border-box;
	width:50%;
	float:left;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.history-tent .top-align{
	padding:10px 0;
	box-sizing: border-box;
	width:50%;
	float:right;
	border-bottom: 1px solid #e5e5e5;
}
.order-tb tbody .hei td.intro span.click-show {
	width: 20px;
	height: 20px;
	border: 1px solid #316ccb;
	line-height: 20px;
	display: inline-block;
	text-align: center;
	color: #316ccb!important;
	font-size: 14px;
	margin-right: 10px;
	cursor: pointer;
}
.order-tb tbody tr.data-show{
	display: none;
}