@charset "utf-8";
/* CSS Document */
body,p{
	font-weight:normal;
	padding:0;
	margin:0;
	}
a{
	text-decoration:none;
	}
ul,li{
	list-style-type:none;
	margin:0;
	padding:0;
	}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
 }
.main_con .search{
	position:relative;
	margin-bottom:20px;
	}
.main_con .alist{
	overflow:visible;
	}
.main_con .alist table{
	table-layout:fixed;
}
.main_con .search .posi{
	position:absolute;
	top:0;
	right:52px;
	}
table {
    border-collapse: collapse;
}
.order-tb {
    width: 100%;
}
.order-tb .tr-bd td {
    padding: 14px 0;
}
.order-tb tbody td {
    border: 1px solid #e5e5e5;
	font-size:14px;
}
.order-tb thead th {
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f5f5f5;
    color: #333;
    font-weight: 400;
    font-size:14px;
}
.order-tb thead th.half{
	width:680px;
	text-align: left;
	padding-left:57px;
	}
.order-tb thead th.state{
	position:relative;
	width:100px;
	border:1px solid #f5f5f5;
	border-bottom:none;
	height:31px;
	z-index:10;
	}
.order-tb thead th.state:hover{
	background:#fff;
	}
.order-tb thead th.state:hover ul{
	display:block;
	}
.order-tb thead th.state ul{
	position:absolute;
	top:30px;
	left:-1px;
	width:102px;
	background:#fff;
	display:none;
	border:1px solid #f5f5f5;
	border-top:none;
	z-index:2;
	}
.order-tb thead th.state ul li{
	text-align:left;
	line-height:26px;
	padding-left:30px;
	cursor:pointer;
	}
.order-tb thead th.state ul li:hover{
	background:#f5f5f5;
	color:#ff0000;
	}
.order-tb .table_tit {
    background: #f5f5f5;
    height: 31px;
    line-height: 31px;
    color: #aaa;
    overflow: hidden;
}
.order-tb .table_tit .wood{
	position:relative;
	}
.order-tb .table_tit .wood span{
	font-size:14px;
	color:#333;
}
.order-tb .table_tit a.delate{
	position:absolute;
	top:5px;
	right:10px;
	}
.order-tb tbody .infor{
	padding-bottom:15px;
	}
.order-tb tbody .infor td.done a{
	display:block;
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:12px;
	}
.order-tb tbody .infor td.admin-done a{
	display:inline-block;
	margin-left:5px;
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:12px;
}
.order-tb tbody .infor td.intro{
	padding-left:22px;
	}
.order-tb tbody .infor td.intro .tname{
	height:20px;
	line-height:20px;
	}
.order-tb tbody .infor td.intro span{
	width:390px;
	line-height:26px;
	color:#333;
	display:inline-block;
	margin-right:10px;
	font-size:12px;
	}
.order-tb tbody .infor td.intro span.diff{
	vertical-align:top;
}
.input_group_sm label{
	color:#333;
}
.order-tb tbody .infor td.admin span{
	width:auto;
	margin-right: 5px;
}
