@font-face {
	font-family:wagfont;src:url(//at.alicdn.com/t/font_292015_jhqozdqega3piudi.eot);src:url(//at.alicdn.com/t/font_292015_jhqozdqega3piudi.eot?#iefix) format("embedded-opentype"),url(//at.alicdn.com/t/font_292015_jhqozdqega3piudi.woff) format("woff"),url(//at.alicdn.com/t/font_292015_jhqozdqega3piudi.ttf) format("truetype"),url(//at.alicdn.com/t/font_292015_jhqozdqega3piudi.svg#iconfont) format("svg")
}

.wag-icon {
	font-size: 16px;
	font-family: wagfont!important;
	font-style: normal;
	color: #353535
}

.fe-show {
	display: block!important
}

.fe-hide {
	display: none!important
}

.yug-right {
	float: right
}

.yug-left {
	float: left
}

.wag-icon {
	vertical-align: sub
}

.wag-icon.icon-hrd {
	display: inline-block;
	height: 16px;
	width: 18px;
	background-position: -6px -16px;
	background-size: 26px 32px
}

.wag-icon.icon-hrd-h {
	display: inline-block;
	height: 16px;
	width: 20px;
	background-position: -2px 0;
	background-size: 24px
}

.wag-icon.icon-im {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-size: cover
}

.layout-fix-tab-narrow {
	border-left: 1px solid #f1f1f1;
	position: fixed;
	right: -40px;
	top: 0;
	width: 40px;
	height: 100%;
	background: #fff;
	z-index: 99;
	-webkit-transition: right .5s ease;
	-moz-transition: right .5s ease;
	-ms-transition: right .5s ease;
	-o-transition: right .5s ease;
	transition: right .5s ease;
	line-height: 1.5;
	color: #656565;
	font-size: 12px;
	font-family: -apple-system,BlinkMacSystemFont,Hiragino Sans GB,Microsoft YaHei,sans-serif
}

.layout-fix-tab-narrow a {
	color: #656565;
	text-decoration: none
}

.layout-fix-tab-narrow a:hover {
	color: #316ccb;
	text-decoration: none
}

.mod-fix-tab-narrow li {
	width: 40px;
	height: 40px;
	line-height: 40px;
	position: relative;
	margin: 16px 0
}

.mod-fix-tab-narrow li .item {
	display: block;
	position: relative;
	z-index: 99;
	text-align: center
}
.mod-fix-tab-narrow li .icon{
	color:#333;
	font-size: 20px;
}
.mod-fix-tab-narrow li:hover .icon{
	color:#316ccb;
}
.mod-fix-tab-narrow li span {
	position: absolute;
	display: none;
	top: 0;
	z-index: 98;
	padding: 0 16px;
	font-size: 12px;
	background: #fff;
	color: #353535;
	white-space: nowrap;
	width: 88px
}

.mod-fix-tab-narrow li span.ll {
	height: 40px;
	width: 40px;
	padding: 0;
	right: 0
}

.mod-fix-tab-narrow li:hover .item {
	background: #fff
}

.mod-fix-tab-narrow li:hover .item i {
	color: #316ccb
}

.mod-fix-tab-narrow li:hover .item .icon-im {
	background-position: -21px 0
}

.mod-fix-tab-narrow li:hover span {
	right: 0;
	display: block;
	box-shadow: 0 0 16px 0 hsla(0,0%,77%,.5)
}

.mod-fix-tab-narrow li.side-hrd {
	height: 80px;
	padding: 8px 0;
	cursor: pointer;
	line-height: 16px
}

.mod-fix-tab-narrow li.side-hrd span {
	display: block;
	right: 0;
	width: 16px;
	white-space: inherit;
	text-align: center;
	word-wrap: break-word;
	word-break: break-all;
	padding: 0 12px;
	line-height: 14px;
	z-index: 10;
	top: 32px;
	transition: inherit
}

.mod-fix-tab-narrow li.side-hrd:hover {
	box-shadow: 0 0 16px 0 hsla(0,0%,77%,.5)
}

.mod-fix-tab-narrow li.side-hrd:hover span {
	box-shadow: 0 0;
	color: #316ccb
}

.mod-fix-tab-narrow li.side-hrd:hover .icon-hrd-h {
	background-position: -2px -16px
}

.mod-fix-tab-narrow li.side-im {
	cursor: pointer
}

.mod-fix-tab-narrow li.side-im span {
	-webkit-transition: .2s ease-in-out .1s;
	-moz-transition: .2s ease-in-out .1s;
	-ms-transition: .2s ease-in-out .1s;
	-o-transition: .2s ease-in-out .1s;
	transition: .2s ease-in-out .1s
}

.mod-fix-tab-narrow li.side-im .wag-icon {
	position: relative
}

.mod-fix-tab-narrow li.side-im .wag-icon em {
	display: none;
	width: 6px;
	height: 6px;
	background: #ff7300;
	border-radius: 6px;
	background-size: cover;
	position: absolute;
	top: -4px;
	right: -4px
}

.mod-fix-tab-narrow li.side-code {
	position: absolute;
	bottom: 56px
}

.mod-fix-tab-narrow li.side-code .code-inner {
	width: 236px;
	height: 460px;
	background: #fff;
	position: absolute;
	padding: 40px 24px;
	box-sizing: border-box;
	right: 40px;
	bottom: 0;
	z-index: 98;
	display: none;
	box-shadow: 0 0 16px 0 hsla(0,0%,77%,.5)
}

.mod-fix-tab-narrow li.side-code .line {
	margin: 32px 0;
	height: 1px;
	background: #f1f1f1
}

.mod-fix-tab-narrow li.side-code .option {
	overflow: hidden;
	text-align: center
}

.mod-fix-tab-narrow li.side-code .option p {
	margin-bottom: 8px;
	line-height: 14px;
	color: #656565
}

.mod-fix-tab-narrow li.side-code .option p.tit {
	color: #353535;
	font-size: 14px;
	font-weight: 700
}

.mod-fix-tab-narrow li.side-code .option p.light {
	color: #ff7300
}

.mod-fix-tab-narrow li.side-code .option p.type {
	margin-top: 24px
}

.mod-fix-tab-narrow li.side-code .option p img {
	width: 93px;
	height: 16px
}

.mod-fix-tab-narrow li.side-code .code-img {
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto 16px
}

.mod-fix-tab-narrow li.side-code:hover .wag-icon {
	color: #316ccb;
	cursor: default
}

.mod-fix-tab-narrow li.side-code:hover .code-inner {
	display: block
}

.mod-fix-tab-narrow li.side-back-top {
	cursor: pointer;
	display: none;
	bottom: 0;
	position: absolute
}

.mod-fix-tab-narrow li.side-back-top span {
	-webkit-transition: .2s ease-in-out .1s;
	-moz-transition: .2s ease-in-out .1s;
	-ms-transition: .2s ease-in-out .1s;
	-o-transition: .2s ease-in-out .1s;
	transition: .2s ease-in-out .1s
}

.mod-fix-tab-narrow li.side-service {
	cursor: pointer
}

.mod-fix-tab-narrow li.side-service .service-inner {
	cursor: default;
	height: 140px;
	width: 156px;
	position: absolute;
	right: 0;
	display: none;
	top: 0;
	z-index: 98;
	text-align: center
}

.mod-fix-tab-narrow li.side-service .inner {
	background: #fff;
	box-shadow: 0 0 16px 0 hsla(0,0%,77%,.5);
	margin-right: 40px;
	height: 100%
}

.mod-fix-tab-narrow li.side-service .title {
	background: #f9f9f9;
	color: #353535
}

.mod-fix-tab-narrow li.side-service .main {
	margin-top: 12px
}

.mod-fix-tab-narrow li.side-service .main a {
	display: block;
	cursor: pointer
}

.mod-fix-tab-narrow li.side-service .main a:hover .icon-im {
	background-position: -21px 0
}

.mod-fix-tab-narrow li.side-service .main .help .wag-icon {
	vertical-align: -1px;
	color: #316ccb
}

.mod-fix-tab-narrow li.side-service:hover .wag-icon {
	color: #316ccb
}

.mod-fix-tab-narrow li.side-service:hover .service-inner {
	display: block
}