
.impor {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 80px;
    padding: 20px;
}
.container-inner{
    width: 100%;
    overflow:hidden;
}
.impor .xinxi {
    width: 320px;
    margin-right: 19px;
    height: 350px;
    border: 1px solid #efefef;
    margin-bottom: 40px;
    float: left;
    background: #efefef;
}
.impor .xinxi:hover{

}
.impor .xinxi .topp {
    margin-top:20px;
    width:357px;
    margin-left:10px;
    padding-right:10px;
}
.impor .xinxi .topp .left{
    float:left;
}
.impor .xinxi .topp .right {

    margin-left:80px;}
.impor .xinxi .topp .right .one{
    margin-left:29px;
}
.impor .xinxi .topp .right .one span  {
    font-size:22px;
}
.impor .xinxi .topp .right .two {
    font-size:14px;
    margin-top:15px;
    color:#949494;

}
.impor .xinxi .topp .right .two p {
    padding-right:10px;
}
.impor .xinxi .topp .right .three {
    font-size:14px;
    margin-top:15px;
    color:#949494;
}
.impor .xinxi .mid{

    margin-top:5px;
}

.impor .xinxi .money {
    margin-left:45px;
    font-size:14px;
    color:#949494;
}
.impor .xinxi .money span {
    color:#ff3f38;
    margin-right:15px;
    font-size:20px;
}
.impor .xinxi .time {

    margin-top:10px;
    overflow:hidden;
    color:#949494;
}
.impor .xinxi .time .ll {
    margin-left:20px;
}
.impor .xinxi .time p{
    font-size:14px;
    margin-left:20px;
    padding-right:10px;
    text-indent:15px;
}
.impor .xinxi .last {
    clear:both;
    width:320px;
    height:45px;
    background:#1E9FFF;
    text-align:center;
    color:#fff;
    line-height:45px;
    border-radius:5px;
    /* margin-top:52px; */
    font-size:16px;
}
.impor .xinxi .last a{
    font-size:16px;
    color:#fff;

}
.impor .xinxi .last:hover {
    background:#28394a;
    cursor:pointer;
}
.impor .xinxi .gray {
    background:#c0c2cc!important;
}
.impor .xinxi .gray:hover {
    background:#c0c2cc!important;
}
.impor .xinxi .nicon {
    width:320px;
    height:150px;
}
.impor .xinxi .nicon.icon1 {
    background:url("../images/rzicon.png") no-repeat center;
}
.impor .xinxi .nicon.icon2 {
    background:url("../images/rzicon1.png") no-repeat center;
}
.impor .xinxi .nicon.icon3 {
    background:url("../images/rzicon2.png") no-repeat center;
}
.impor .xinxi .nicon.icon4 {
    background:url("../images/rzicon3.png") no-repeat center;
}
.impor .xinxi .nicon.icon5{
    background:url("../images/rzicon4.png") no-repeat center;
}
.impor .xinxi .new_wz {
    width:320px;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:18px;
    color:#505050;
    font-weight:bold;
}
.impor .xinxi .new_indetail {
    height:100px;
    line-height:20px;
    font-size:14px;
    color:#505050;
    padding:0 30px 0 33px;
    margin-top:20px;
    letter-spacing:1px;
}